<!doctype html>
<html class="white">
  <head>
    <title>Download Videos</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <style type="text/css">
.input-field input[type=search] {
  padding-left: 1rem;
  background-color: white;
  color: black;
}
i.material-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
}
.col > .card {
  padding: 0.75rem 0.75rem;
}
td > i {
  cursor: pointer;
  user-select: none;
}
    </style>
  </head>
  <body>
    <div class="container">
        <h1 class="center-align black-text tune" id="title">
          Video Downloader
        </h1>
        <div class="row center">
          <h5 class="header center black-text">
            Download videos, and view existing videos.
          </h5>
        </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col s12 l6">
          <div class="card">
            <form>
              <div class="input-field" style="margin-top: 0;">
                <i class="material-icons prefix" style="color: #9e9e9e;">file_download</i>
                <input class="" id="urlinput" type="search" placeholder="Video URL" required style="width: calc(100% - 45px - 15px - 0.4em)">
              </div>
            </form>
            <div style="display: flex; justify-content: flex-end;">
              <a class="waves-effect waves-light btn" id="downloadbtn">download</a>
            </div>

          </div>
          <div class="card" >
            <h4 class="center-align">Downloads in progress</h4>
            <div id="downloading">
              <p>
              Nothing here right now...
              </p>
            </div>
          </div>
        </div>
        <div class="card col s12 l6" id="existing_videos">
          {{vidlinks|safe}}
        </div>
      </div>
    </div>
  </body>
  <script>
// Get the human-oriented file size from the given bytes.
// From here: https://stackoverflow.com/a/14919494
function humanFileSize(bytes, si) {
    var thresh = si ? 1000 : 1024;
    if(Math.abs(bytes) < thresh) {
        return bytes + ' B';
    }
    var units = si
        ? ['kB','MB','GB','TB','PB','EB','ZB','YB']
        : ['KiB','MiB','GiB','TiB','PiB','EiB','ZiB','YiB'];
    var u = -1;
    do {
        bytes /= thresh;
        ++u;
    } while(Math.abs(bytes) >= thresh && u < units.length - 1);
    return bytes.toFixed(1)+' '+units[u];
}
$("#downloadbtn").on('click', ()=>{
  startDownload();
});
$('#urlinput').keydown((e)=>{
  if (e.keyCode == 13) {
    e.preventDefault();
    startDownload();
  };
});

var CHECKTIME = 1000;

function startDownload(){
  let url = $('#urlinput').val()
  $.ajax({
    url: "/api/start_download",
    data: JSON.stringify({'url':url}),
    'contentType': 'application/json',
    method: 'POST'
  }).done(()=>{
    console.log("We sent the url to be downloaded", url);
  }).fail(()=>{
    alert("Sending the url didn't work");
  });
}
function updateDownloadStatus() {
  let statusDiv = $('#downloading');
  $.ajax({
    url: '/api/current_downloads'
  }).done((data) => {
    let newHtml = "";
    if (!$.isEmptyObject(data)){
      CHECKTIME = 250;
      for (key in data) {
        let val = data[key];
        if ($.isEmptyObject(val)){
          break;
        }

        let pieces = val['filename'].split('/');
        let filename = pieces[pieces.length-1].split('.mp4')[0];
        let downloaded_so_far = humanFileSize(val['downloaded_bytes'], false);
        let filesize = humanFileSize(val['total_bytes'], false);
        let progressHtml = `
          <div class="section">
          <h5>${filename}</h5>
          <p>Time till complete: ${val['_eta_str']}
          <p>Video source: <a href="${key}">${key}</a></p>
          <p>On-disk size: ${downloaded_so_far} / ${filesize}
          <div class="progress">
            <div class="determinate" style="width: ${val['_percent_str']}"></div>
          </div>
          </div>`;
        newHtml += progressHtml;
      }
    } else {
      CHECKTIME = 1000;
      newHtml = "<p> Nothing downloading right now...</p>";
    }
    if (statusDiv.html() != newHtml){
      statusDiv.html(newHtml);
    }
    window.setTimeout(updateDownloadStatus, CHECKTIME);
  });
}

function registerDeleteHandlers() {
  let rows = $('#existing_videos > table > tbody > tr');
  rows.each((index, row) => {
    let delicon = $($(row).find('td[filename]')[0]);
    delicon.on('click', ()=>{
      window.delicon = delicon;
      let filename = delicon[0].attributes['filename'].value;
      $.ajax({
        url: '/api/video',
        data: JSON.stringify({'video': filename}),
        method: 'POST',
        'contentType': 'application/json',
      }).done(()=>{
        $(row).fadeOut();
      }).fail((err)=>{
        console.log(err);
      });
    });
  });
}

function updateCurrentVideos() {
  let existingVids = $('#existing_videos');
  $.ajax({
    url: '/api/video_table'
  }).done((data) => {
    if (existingVids.html().trim() != data.trim()){
      existingVids.html(data);
    }
    registerDeleteHandlers();
    window.setTimeout(updateCurrentVideos, 1000);
  });
}

function main() {
  updateDownloadStatus();
  updateCurrentVideos();
  registerDeleteHandlers();
}

$(main);
  </script>
</html>
